-i https://pypi.python.org/simple/
certifi==2019.11.28
chardet==3.0.4
django-background-tasks==1.1.12
django-compat==1.0.15
django-environ==0.4.4
django==1.11.28
honcho==1.0.1
idna==2.8
psycopg2==2.7.3.2
pytz==2019.3
pyyaml==3.12
requests==2.22.0
six==1.14.0
slackclient==1.0.9
urllib3==1.25.8
websocket-client==0.57.0
