{% extends 'front/base.html' %}
{% block content %}
  <h1>Builds: {{ repo.name }}</h1>

  <ul>
    {% for build in repo.build_set.all %}
      <li>
        {{ build }} ->
        <a href="{% url 'front:build' build.id %}">Show</a> -->
        {% if build.status == 'running' %}
          <a href="{% url 'webhooks:stop' build.id %}">Stop</a>
        {% else %}
          <a href="{% url 'webhooks:rerun' build.id %}">Rerun</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <a href="{% url 'front:repos' %}">Back to repos</a>
{% endblock %}
